<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}
        <link rel="stylesheet" href="{% static  'candle_app/css/dashboard.css'%}">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #e3f2fd;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <h2>Welcome, {{user.first_name}}! </h2>
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history">Order History</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/cart">
                            Your Cart
                            <span id='num_items' class="bg-round">{{num_items_in_cart}}<span class="sr-only">(current)</span></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logoff">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class=" mt-3 row">
            <div class="col-10">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Fragrance</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Sub-total</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                        <td> {{forloop.counter}}</td>
                        <td>{{order.product.name}}</td>
                        <td>{{order.product.size}}</td>
                        <td>{{order.product.fragrance}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.product.price}}</td>
                        <td>{% widthratio order.product.price 1 order.quantity %}</td>
                        <td>
                            <a href="/cart" class="delete-btn" order_id="{{order.id}}" onclick="confirmDelete(this)"> 
                            Remove
                            </a>
                        </td>
                        </tr>

                        {% endfor %}
                        <tr>
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total: </td>
                            <td>{{total}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-10">
        <a href="/buy" class="btn btn-sm btn-success float-right">Buy</a>
        </div>


    </body>
    <script>
        function confirmDelete(x) {
            console.log("clicked");
            if (confirm("Do you want to delete this item from your cart?")) {
                x.href = "/remove/" + x.getAttribute("order_id");
            }
        }
    </script>
</html>