<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% load static %}
    </head>
    <body class="container mt-5 ">
        <div class="row">
            <h3 class="col-8">Welcome, {{user.first_name}}! </h3>
            <a href="/history" class="btn btn-success ">Order History</a>

            <a href="/dashboard" class="btn btn-success ml-2">Home</a>
            <a href="/logoff"  class="col ml-2 btn btn-primary">Log Out</a>
        </div>  

        <div class=" mt-3 row">
            <div class="col-10">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Fragrance</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Sub-total</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                        <td> {{order.product.id}}</td>
                        <td>{{order.product.name}}</td>
                        <td>{{order.product.size}}</td>
                        <td>{{order.product.fragrance}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.product.price}}</td>
                        <td>{% widthratio order.product.price 1 order.quantity %}</td>
                        <td><a href="/remove/{{order.id}}"> Remove</a></td>
                        </tr>

                        {% endfor %}
                        <tr>
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total: </td>
                            <td>{{total}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-10">
        <a href="#" class="btn btn-sm btn-success float-right">Checkout</a>
        </div>


    </body>
</html>