img {
    width: 200px;
    margin: 50px;
}

.mt-30 {
    margin-top: 30px;
}

.m-0 {
    margin : 0;
}

.bg-round {
    /* color: red;
     */
     border-radius: 40%;
     width: 40px;
     background-color: navy;
     color: white;
     padding: 3px;
}

.nav-link {
    font-size: 28px;
}